.Tomatoes {
  background-color: #FFF;
  border-radius: 5px;
  border: 1px solid #DDD;
  padding: 1em;
  box-shadow: 0 2px 0 rgba(225,225,225,.2);
  overflow: auto;
  width: calc(50% - 8px);
  height: 50vh;
}