.menu {
  margin: 10px 0;
}
.Home {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    border-bottom: 1px solid #dddddd;
    > .dropdown{
      cursor: pointer;
    }
  }
  > main{
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
  }
}